*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.bazaarBox{
    width: 700px;
    height: 595px;
    float: left;
    margin-left: 15px;
}


.bazaarBox .box_top{
    width: 700px;
    margin: 0 auto;
    border-bottom: 1px solid #c9c5c5;
    font-size: 12px;
    font-weight: 600;
}


.bazaarBox .box_top h2{
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin: 18px 0 0 6px;
}


.clearfix:after{
    display: block;
    clear: both;
    content: '';
}


.bazaarBox .box_top i{
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin: 16px 0 7px 12px;
    width: 19px;
    height: 16px;
    background: url("../img/car.png") no-repeat;
    background-size: 100%;
}


#list{
    width: 675px;
    margin: 24px auto;
}
#list li{
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid #c9c5c5;
    color: #797979;
}
#list li:nth-of-type(13){
    margin-top: 24px;
}
#list li a{
    color: #797979;
    font-size: 12px;
    font-family: "��������";
    padding-left: 10px;

}

#list li span{
    display: inline-block;
    float: right;
    font-size: 12px;
    font-family: "��������";
    margin-right: 10px ;
}
.Pagination{height: 55px;_height: 45px; line-height: 20px;padding-left:10px;position: relative;left: 250px;top: 100px}
.Pagination span{margin-right: 5px;display: block;float: left;margin-left: 5px;}
.Pagination a{color: #797979;float: left;font-size: 12px;padding: 8px 15px; background:#c7c7c7; border-radius: 5px;margin-left: 7px}
.Pagination a:hover{
    background: black;
    color: white;
    padding: 9px 16px;
}


